:root{
    --color-primary:#4a3f35;
    --color-secundary:#d4a373;
    --color-background:#faf3e0;
    --font-main:Arial, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--font-main);
    background-color: var(--color-background);
    color: var(--color-primary);
    line-height: 1.6;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: var(--color-primary);
    width: 100%;
    top: 0;
    /* max-width: 1200px; */
    padding: 1rem;
    /* para que la barra no desaparezca al hacer scrool */
    position: fixed;
    /* parametros a los que se superpone el scrool */
    z-index: 1000;
}

nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color:var(--color-secundary);
}
h1{
    /* font-size: 3rem;
    height: 100px;
    width: 100px;
    text-align: center;
    animation-name:cafearoma;
    animation-duration: 5s;
    color:white; */
    font-size: 50px;
    margin-bottom: 1rem;
    animation-name: fadeIn; 
    animation-duration: 2s;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px);}
    to { opacity: 1; transform: translateY(0); }
}
h3{
    display: flex;
    justify-content: center;
}

.portada{
    text-align: center;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.portada::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../img/backgroun-image-1.jpeg") no-repeat center center / cover;
    z-index: -1;
    filter: brightness(50%);
}
h3{
    font-size: 1.5rem;
}
.eleccion{
    padding-top: 2rem;
}
.carta-grid{
    display: flex;
    flex-direction: row;
    justify-content: center;    
}
.imagencafe:hover{
    animation-name: cafe; 
    animation-duration: 2s;
}
@keyframes cafe{
    from {transform: translateY(0);}
    to {transform: translateY(-10); }
}
.imagencafe{
    margin: 2rem 1rem 2rem 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
h2{
    padding-left: 1rem;
}
.carta-grid p{
    width: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding-left: 1.2rem;  
}
img{
    width: 350px;
    border-radius: 8px;
}
h4{
    background-color: var(--color-secundary);
    font-size: 25px;
}
.contacto{
    background-color: var(--color-secundary);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10rem;
}
.contacto input, textarea{
  padding-bottom: 10px;
  border-radius: 8px;
}